@{
    ViewData["Title"] = "Home Page";
}

<div class="home-box__wrapper">
    <a asp-action="ChangeStockStatus" asp-controller="Compare" class="text-center home-box">Change Stock Status</a>
    <a asp-action="NewProducts" asp-controller="Compare" class="text-center home-box">New Products</a>
</div>